@model List<Movie>

<div class="table table-striped">
    <div class="col-4">Name</div>
    <div class="col-4">Directore</div>
    <div class="col-4">Id</div>
    <div class="col-4">Genre</div>
    <div class="col-4">Price</div>




</div>

@foreach (Movie movie in Model)
{
    <div class="row">
        <partial name="_MovieDisplay" model="movie" />
    </div>
}
